openai
SpeechRecognition
pydub
simpleaudio
numpy
PyAudio
asyncio
lru_cache
groq
open-interpreter
tavily-python
pytest
python-dotenv
openai-whisper
sounddevice 
torch
pytest-timeout 
TTS
pyttsx3
torch
phonemizer